version: 2.1

orbs:
  win: circleci/windows@1.0.0

workflows:
  workflow:
    jobs:
      - go-test:
          name: Go 1.14
          docker-image: circleci/golang:1.14
      - go-test:
          name: Go 1.13
          docker-image: circleci/golang:1.13
      - go-test-windows:
          name: Windows

jobs:
  go-test:
    parameters:
      run-lint:
        type: boolean
        default: true
        # We are currently linting in all Go versions, but this parameter lets us turn it off for some, in
        # case we need to support more versions than a single version of golangci-lint is compatible with
      docker-image:
        type: string

    docker:
      - image: <<parameters.docker-image>>
        environment:
          CIRCLE_TEST_REPORTS: /tmp/circle-reports
          CIRCLE_ARTIFACTS: /tmp/circle-artifacts
          COMMON_GO_PACKAGES: >
            github.com/golang/dep/cmd/dep
            github.com/jstemmer/go-junit-report

    steps:
      - checkout
      - run: go get -u $COMMON_GO_PACKAGES
      - when:
          condition: <<parameters.run-lint>>
          steps:
            - run: make lint
      - run: go build ./...
      
      - run:
          name: Run tests
          command: |
            mkdir -p $CIRCLE_TEST_REPORTS
            mkdir -p $CIRCLE_ARTIFACTS
            trap "go-junit-report < $CIRCLE_ARTIFACTS/report.txt > $CIRCLE_TEST_REPORTS/junit.xml" EXIT
            make test | tee $CIRCLE_ARTIFACTS/report.txt

      - store_test_results:
          path: /tmp/circle-reports

      - store_artifacts:
          path: /tmp/circle-artifacts

  go-test-windows:
    executor:
      name: win/vs2019
      shell: powershell.exe

    environment:
      GOPATH: C:\Users\VssAdministrator\go

    steps:
      - checkout
      - run: go version
      - run:
          name: build and test
          command: go test -race ./...
