repo:
  public: go-sdk-common
  private: go-sdk-common-private

template:
  name: go
  env:
    LD_RELEASE_GO_IMPORT_PATH: gopkg.in/launchdarkly/go-sdk-common.v2
  skip:
    - test

releasableBranches:
  - name: v2
    description: 2.x - for Go SDK 5+
  - name: v1
    description: 1.x - for Go SDK 4.x

publications:
  - url: https://godoc.org/gopkg.in/launchdarkly/go-sdk-common.v2
    description: documentation
